{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}


{% block content %}


 <!--begin showcase section-->
    <section class="section-blue" id="showcase" style="margin-top: 50px; margin-bottom: 50px;  padding-top: 10px; padding-bottom: 10px;">

        <!--begin container-->
        <div class="container-fluid">

            <!--begin row-->
            <div class="row">

                <!--begin col md 12-->
                <!--end col md 12-->

                <!--begin col md 12-->
                <div class="col-md-12 padding-top-20">

                    <!--begin carousel-->
                    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">

                       
                        <!--end carousel-indicators-->

                        <!--begin carousel-inner-->
                        <div class="carousel-inner">

                            <!--begin carousel-item-->
                            <div class="carousel-item active">

                                <div class="row text-center">

                                    {% for app in apps %}
                                        <div class="col-sm-3">
                                            <img src="{{app.image.url}}" alt="showcase" class="gallery-show">
                                        </div>
                                    {% endfor %}

                                </div>

                            </div>
                            <!--end carousel-item-->

                        </div>
                        <!--end carousel-inner-->

                        <!--begin carousel-control-prev-->
                      
                        <!--end carousel-control-next-->

                    </div>
                    <!--end carousel-->

                </div>
                <!--end col md 12-->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end gallery section -->

   

<div style="width: 100%; margin-left: auto; margin-right: auto; margin-bottom: 100px;">
<div class="col-md-12 text-center padding-bottom: 50px; padding-top: 0px; margin-top: 0px; margin-bottom: 50px; ">
{% for c in calculate %}
<h2 class="section-title">{{c.title}}</h2>

    <p style="width: 70%; text-align: 'center'; margin-right: auto; margin-left: auto;">
    {{c.description}}
      </p>
{% endfor %}
    
</div>

<form method="post" id="calculate_form" style="padding-top: 50px; ">
{% csrf_token %}

<div  style="display: flex; flex-direction: row; width: 100%; justify-content: center; margin-bottom: 50px;">
    <div style="width: 25%; ">
    {{ salesform.imports | as_crispy_field }}
    </div>
     <div style="width: 25%; margin-left: 25px; margin-right: 25px;">
    {{ salesform.account | as_crispy_field }}
    </div>
     <div style="width: 25%;">
    {{ salesform.payments | as_crispy_field }}
    </div>
</div>
<div  style="display: flex; flex-direction: row; width: 100%; justify-content: center;">
   <div style="width: 25%; ">
    {{ salesform.addon | as_crispy_field }}
    </div>
    <div style="width: 25%; margin-left: 25px; margin-right: 25px;">
    {{ salesform.volume | as_crispy_field }}
    </div>
   <div style="width: 25%; ">
    {{ salesform.billing | as_crispy_field }}
    </div>
</div>





</form>
<div id="calculate" class="btn btn-success" style="background-color: #37ccd1 !important; margin-top: 25px; border: none !important;">Calculate Total </div>

</div>

<!--begin calculator section-->
    <section class="section-white" style="padding-top: 0px;" id="showcase">

        <!--begin container-->
        <div class="container-fluid">

            <!--begin row-->
            <div class="row">

                <!--begin col md 12-->
                <div class="col-md-12 text-center">

                <div id="id_total" style="text-align: right; font-size: 40pt; font-weight: bold; margin-right: 100px">
                Total 0 SEK / month
                </div>
                <div style="text-align: right; font-size: 14pt; margin-right: 100px">
                Setup fee of 1500 is charged per app
                </div>
                </div>

                <!--end col md 12-->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>

<!--begin showcase section-->
    <section class="section-blue" style="background-color: #e987d7 !important; padding: 0; padding-top: 10px; padding-bottom: 10px;" id="showcase">

        <!--begin container-->
        <div class="container-fluid">

            <!--begin row-->
            <div class="row">

                <!--begin col md 12-->
                <div class="col-md-12 text-center">

                    <h2 id="recommendations" class="section-title white-text recommendations">Recommendations</h2>

                </div>
                <!--end col md 12-->

                <!--begin col md 12-->
                <div class="col-md-12 padding-top-20">

                    <!--begin carousel-->
                    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">

                        <!--begin carousel-indicators-->
                 

                        <!--begin carousel-inner-->
                        <div class="carousel-inner">

                            <!--begin carousel-item-->
                            <div class="carousel-item active">

                                <div class="row text-center">

                                    {% for recommend in recommendeds %}
                                        <div class="col-sm-3 recommend">
                                            <img src="{{recommend.models.image.url}}" alt="showcase" class="gallery-show">
                                        </div>
                                    {% endfor %}

                                </div>

                            </div>
                            <!--end carousel-item-->

                        </div>
                        <!--end carousel-inner-->

                    </div>
                    <!--end carousel-->

                </div>
                <!--end col md 12-->

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end gallery section -->

    <!--begin services section -->
    <section class="section-white section-bottom-border" id="features">

        <!--begin container -->
        <div class="container">

            <!--begin row -->
            <div class="row">

                <!--begin col-md-12-->
                <div class="col-md-12 text-center padding-bottom-10">

                    <h2 class="section-title" style="text-align: left !important; margin-left: 50px;">Features</h2>

                </div>
                <!--end col-md-12 -->

            </div>
            <!--end row -->

            <!--begin row -->
            <div class="row">
                {% for feature in features %}
                 <div class="col-md-4">
                    <div class="feature-box wow fadeIn" data-wow-delay="0.25s"
                        style="visibility: visible; animation-delay: 0.25s; animation-name: fadeIn;">

                        <img class="fas fa-tachometer-alt" style="border-radius: 50%; margin-bottom: 15px;" src={{feature.icon.url}} height="50" width="50"/>

                        <h4>{{feature.title}}</h4>

                        <p>{{feature.description}}</p>

                    </div>
                    </div>
                {% endfor %}

            </div>
            <!--end row -->

        </div>
        <!--end container -->

    </section>
    <!--end services section -->

    <!--begin section-white -->
    <section class="section-white section-bottom-border">

        <!--begin container-->
        <div class="container">

            <!--begin row-->
            <div class="row">
                 {% for a in about %}
                <!--begin col-md-6-->
                <div class="col-md-6 padding-top-20">

                    <h3 style="text-align: left !important; margin-left: 50px; color: #e987d7;">About Us</h3>
                   
                    <p style="text-align: left !important; margin-left: 50px;">
                        {{a.description}}
                    </p>


                </div>
                <!--end col-md-6-->

                <!--begin col-md-6-->
                <div class="col-md-6">

                    <img src="{{a.image.url}}" class="hero-image width-100 box-shadow" alt="pic" 
                    style="border-radius: 50%; width: 300px; height: 300px;">

                </div>
                <!--end col-sm-6-->
                {% endfor %}
            </div>
            <!--end row-->

        </div>
        <!--end container-->

    </section>
    <!--end section-white-->


<div class="col-md-12 text-center">

                    <h2 id="recommendations" class="section-title">Ready to Onboard? </h2>

                </div>

<div style="width: 50%; margin-left: auto; margin-right: auto; padding-bottom: 100px;">
<form method="post">
{% csrf_token %}


<div style="background-color: #37ccd1; padding: 50px; border-radius: 50px;  ">
    <div  style="display: flex; flex-direction: row; width: 100%; justify-content: center;">
        <div style="width: 45%; ">
        {{ form.company_name | as_crispy_field }}
        </div>
        <div style="width: 45%; margin-left: 50px;">
        {{ form.company_id | as_crispy_field }}
        </div>
    </div>

    <div  style="display: flex; flex-direction: row; width: 100%; justify-content: center;">
        <div style="width: 45%;">
        {{ form.name | as_crispy_field }}
        </div>
        <div style="width: 45%; margin-left: 50px;">
        {{ form.role | as_crispy_field }}
        </div>
    </div>
    <div  style="display: flex; flex-direction: row; width: 100%; justify-content: center;">
    <div style="width: 45%; ">
        {{ form.phone_number | as_crispy_field }}
        </div>
        <div style="width: 45%; margin-left: 50px;">
        {{ form.email | as_crispy_field }}
        </div>
    </div>
    <div  style="display: flex; flex-direction: row; width: 100%; justify-content: center;">
    <div style="width: 45%; ">
        {{ form.addons | as_crispy_field }}
        </div>
        <div style="width: 45%; margin-left: 50px;">
        {{ form.monthly_volume | as_crispy_field }}
        </div>
    </div>
    <div  style="display: flex; flex-direction: row; width: 100%; justify-content: center;">
    <div style="width: 35%; ">
        {{ form.billing_cycle | as_crispy_field }}
        </div>
        <div style="width: 35%; margin-left: 50px;">
        {{ form.accounting | as_crispy_field }}
        </div>
    </div>
    <div  style="display: flex; flex-direction: row; width: 100%; justify-content: center;">
    <div style="width: 35%; ">
        {{ form.app_type | as_crispy_field }}
        </div>
        <div style="width: 35%; margin-left: 50px;">
        {{ form.payment | as_crispy_field }}
        </div>
    </div>
</div>

<button type="submit" value="submit" class="btn btn-success" style="background-color: #e987d7 !important; margin-top: 25px; border: none !important; ">Contact Me!</button>
</form>

<div id="calculator_lookup" style="display: none;">
    <div id="apps">
    {% for accounting in accountings %}
        <div id="id_accounting_{{accounting.id}}">
            {% for payment in accounting.payments.all %}
            <div id="fk">{{payment.id}}</div>
            {% endfor %}
        </div>
    {% endfor %}
    {% for app in apps %}
        <div id="id_app_{{app.id}}">
            <div id="id_app_cost_{{app.id}}">
            {{app.price}}
            </div>

            {% for account in app.accounting.all %}
            <div id="fk">{{account.id}}</div>
            {% endfor %}
        </div>
    {% endfor %}
    {% for v in volume %}
        <div id="id_volume_amount_{{v.id}}">
        {{v.volume}}
        </div>
    {% endfor %}
    {% for c in cycle %}
        <div id="id_cycle_weeks_{{c.id}}">
        {{c.number_of_weeks_in_cycle}}
        </div>
        <div id="id_percent_{{c.id}}">
        {{c.discount_percent}}
        </div>
    {% endfor %}
    </div>
</div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        
        $('#id_imports').change(function(){
            const optionValue = this.value;
           $('#id_app_type').val(optionValue);

            $('#id_account').children().hide().prop("selected", false);

            const children = $('#id_app_' + optionValue).children();
            $(children).each(function(){
                const id = $(this).text();
                $('#id_account option[value="' + id + '"]').show();
            });
        });

        $('#id_account').change(function(){
            const optionValue = this.value;
            $('#id_accounting').val(optionValue);

            $('#id_payments').children().hide().prop("selected", false);
            
            const children = $("#id_accounting_" + optionValue).children();
            console.log(children);
            $(children).each(function(){
                const id = $(this).text();
                $('#id_payments option[value="' + id + '"]').show();
            });
        });

        $('#id_payments').change(function(){
            const optionValue = this.value;
            $('#id_payment').val(optionValue);
        });

        $('#id_volume').change(function(){
            const optionValue = this.value;
            $('#id_monthly_volume').val(optionValue);
        });

        $('#id_billing').change(function(){
            const optionValue = this.value;
            $('#id_billing_cycle').val(optionValue);
        });

        $('#id_addon').change(function(){
            const optionValue = this.value;
            $('#id_addons').val(optionValue);
        });

        $('#calculate').click(function(){
            const volumeValueId = $('#id_volume').children("option:selected").val();
            const volume = $('#id_volume_amount_' + volumeValueId).text();
            
            const billingValueId = $('#id_billing').children("option:selected").val();
            const billing = $('#id_cycle_weeks_' + billingValueId).text();
            const discount = $('#id_percent_' + billingValueId).text();

            const appSelection = $('#id_imports').children('option:selected');
            const id = $(appSelection).val();
            const price = $('#id_app_cost_' + id).text();

            const discount_percent = (100-discount) / 100;
            const monthly_price = price * volume * discount_percent;
            const text = "Total " + monthly_price + " SEK / month";
            $('#id_total').text(text);
        });

    });
</script>

{% endblock %}